body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1, img, figcaption {
    text-align:center;
}

nav > a {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #999999;
}

figcaption {
  font-size: small
}

#featured-property {
  width: 800px;
  text-align: center;
}